#root {
    display: flex;
}
.column-container {
    display: flex;
    width: 600px;
    
}
.column-planned,.column-progress,.column-done {
    width: 200px;
    border: 2px solid orange;
    min-height: 400px;
}
.planned-header, .progress-header, .done-header {
    font-size: 30px;
    text-align: center;
}
.form-container {
    width: 150px;
    text-align: center;
    margin-left: 15px;
}
.form-container input{
    margin-bottom: 5px;
}
.form-select, .button-add {
    width: 165px;
}
.button-add {
    margin-top: 5px;
}
.drag-task {
    border: solid 2px purple;
    margin: 5px;
    text-align: center;
}